body{
    font-size: xx-large;
    font-family: 'Open Sans';
    
    background-color:#ffb831;
    margin-left: 4rem; margin-top: 2rem; margin-right: 4rem;
}

h1{
   font-weight: 900; margin-top: 8rem;
}
#feedback{
    width:80rem; height: 20rem;
}
#submit{
    width:10rem; height: 5rem; color: aliceblue; background-color: black;
}
#user{width: 227px;}
.navi{
    font-weight: bold; font-family: 'Montserrat'; margin-top: 1.8rem; position: relative; left: 7rem; font-size: large; margin-left: 2rem;
}
#logo{
    width:140px; 
}
#about{
    margin-top: 4rem;
}