body{
    background-color: #FEF4E4; 
}
#home{
margin-left: 4rem; margin-top: 2rem; margin-right: 4rem;
}
#Fbooks{
    width:620px; position: relative; left: 5rem; top: 4rem;
}
#logo{
    width:140px; 
}
.detail{
    margin-top: 6rem; 
}
h1{
    font-weight: bold; line-height: 60%; font-family: 'Montserrat'; font-size: 60px; letter-spacing: 15px; position: relative;  top: 6rem;
}
p{
   line-height: 0.1rem; font-size: 25px;position: relative;   top: 7.9rem; letter-spacing: 3px;
}
#search { position:  relative; top:10rem;}
#user{width: 227px;}
.navi{
    font-weight: bold; font-family: 'Montserrat'; margin-top: 1.8rem; position: relative; left: 7rem; font-size: large; margin-left: 2rem;
}
/* #footer{
    margin-top: 10rem; position: relative; right: 4.4rem;
}
#foot{
    width: 1520px;
} */
#footer{
    margin-top:10rem ;
    background-color: #262626;
    color: #FEF4E4;
    
  }
  
h3{
    font-size: medium;
}
#submit1{
    width:6rem; height: 4rem;;
}
#feed{
    width: 18.5rem;
}
.feed{
    margin-bottom: 2rem;
}
.feedback{
    margin-top: 200rem;
}